.profile-top-bio, .profile-about, .profile-education, .profile-skills {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 16px;
}


.user-profile-image {
    width: 152px;
    border-radius: 50%;
}
.user-profile-name {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
}
.user-profile-bio {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
}
.user-profile-location {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 14px;
}



.header-profile-about, .header-profile-education, .header-profile-skills {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
}
.p-profile-about {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 16px;
}



.education-institutes {
    margin-top: 16px;
}
.logo-education-institute {
    height: 56px;
}
.institute-name {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}
.field-of-study {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
}
.year-of-study {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}


.button-skill-quiz {
    margin-top: 8px;
    min-height: 32px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 16px;
    color: #0a66c2;
}
.button-skill-quiz:hover {
    background-color: #e4e5f5;
    color: #0a66c2;
    /*border-width: 2px;*/
}
.top-skills{
    margin-top: 16px;
}
.top-skills p, .skill p {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}
.button-show-more-accordion {
    color: rgba(0, 0, 0, 0.6);
}
