.nav-container {
    padding: 0;
    background-color: rgb(255,255,255);
}

.nav-elements {
    display: flex;
    background-color: rgb(255,255,255);
}

.header-logo {
    height: 34px;
}

.search-bar {
    background-color: rgb(238, 243, 248);
    border-radius: 4px;
    height: 34px;
    width: 280px;
    margin: 0 8px 0 8px;
    border: none;
}


.icons-menu-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    min-height: 52px;
}
.link-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
.icon-title {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 0;
    color: grey;
}

