.jobs-section {
    background-color: rgb(255, 255, 255);
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
}

.h1-recommend {
    font-size: 18px;
    font-weight: 600;
}

.subtitle-recommend {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}


.single-job {
    padding-top: 16px;
    padding-bottom: 8px;
}

.job-position {
    font-size: 16px;
    font-weight: 600;
}

.company-name {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.job-location {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}